@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin : 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  --text-color : var(hsl(0, 0%, 52%));
}
.nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}
.nav--darkmode {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: hsl(0, 0%, 98%);
  background-color: hsl(209, 23%, 22%);
}
nav > div {
  display: flex;
  cursor: pointer;
}
main {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(0, 0%, 98%);
}
.main--darkmode {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(207, 26%, 17%);
}
.countries {
  width: 100%;
  padding: 30px;
}
.searchbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.input__section {
  height: 40px;
  width: 400px;
  position: relative;
}
.searchIcon {
  position: absolute;
  bottom: 5px;
  left: 10px;
  color: var(--text-color)
}
.input, .input--darkmode {
  width: 100%;
  height: 100%;
  padding: 15px 15px 15px 50px;
  border-radius: 2px;
}
.select, .select--darkmode {
  height: 40px;
  padding: 10px;
  cursor: pointer;  
}

.select, .input, .card, .backBtn {
  box-shadow:  0 0px 5px 0px hsl(0, 0%, 70%);
  border: none;
  outline: none;
}
.select--darkmode, .input--darkmode, .card--darkmode, .backBtn--darkmode {
  background-color: hsl(209, 23%, 22%);
  box-shadow:  0 0px 5px 0px rgb(27, 27, 27);
  border: none;
  outline: none;
  color: rgb(233, 231, 231);
}
.card__container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}
.card, .card--darkmode {
  width: 300px;
  height: 450px;
  margin: 15px;
  transition: transform 300ms;
}
.nodisplay {
  display: none;
}
.card:hover, .card--darkmode:hover {
  transform: scale(1.02);
}
.card__image, .card__details {
  height: 50%;
  width: 100%;
}
.card__image > img {
  height: 100%;
  width: 100%;
}

.card__details {
  padding: 30px;

}
.card__details > * {
  margin-bottom: 15px;
}
.backBtn, .backBtn--darkmode {
  display: flex;
  align-items: center;
  color: var(--text-color);
  background-color: transparent;
  width: 150px;
  padding: 10px;
  cursor: pointer;
  justify-content: center;
}
.backBtn--darkmode, .text--darken  * {
  color: rgb(233, 231, 231);
}

.country {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.country__flag {
  flex: 0.4;
  height: 200px;
}
.country__flag > img {
  width: auto;
  height: 100%;
}
.country__details, .country__details--darkmode {
  padding: 15px;
  flex: 0.6;
}
.country__info {
  display: flex;
  align-items: top;
  justify-content: space-between;
}
.country__details > h3, .country__details--darkmode > h3 {
  font-weight: 900;
  margin-bottom: 30px;
}
.info__text {
  margin-bottom: 10px;
}
.text__span {
  font-weight: 600;
}
.timezone {
  margin-top: 30px;
}
.country__details--darkmode * {
  color:rgb(233, 231, 231);
}
@media screen and (max-width: 768px) {
 .other__info, .country__flag{
   margin: 30px 0px;
 }
 .timezone {
   margin-top: 0px;
 }
 .card__container {
   flex-direction: column;
 }
 .country, .country__info {
   flex-direction: column;
 }
 .card, .card--darkmode, .country__flag > img, .country__details, .country__flag, .country__details--darkmode {
   width: 100%;
 }
}
@media screen and (max-width : 700px) {
  .searchbar {
    flex-direction: column;
    padding: 0px;
    justify-content: center;
  }
  .input__section {
    width: 100%;
    margin-bottom: 15px;
  }
  .card, .card--darkmode {
    margin: 15px 0px 15px 0px;
  }
}